form {
	
	&.edit {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		input, button {
			width: 100%;
			display: block;
			margin: 2em 0;
			padding: .4em 1em;
		}
		
		input {
			width: calc(49% - 3em);
		}
		
		button {
			
			border: 1px solid transparent;
			background: #CC0000;
			color: white;
			font-weight: bold;
			transition: 0.4s;
			cursor: pointer;
			text-transform: uppercase;
			margin-top: 0;
			
			&:hover {
				background: white;
				color: #CC0000;
				border-color: #CC0000;
			}
		}
	}
	
	&.listing {
		button {
			border: none;
			background: #CC0000;
			color: white;
			padding: 1em;
			font-weight: bold;
			cursor: pointer;
		}
	}
	
	.fixed {
		
		position: fixed;
		top: 0;
		right: 0;

	}
}