*, *:before, *:after {
	
	font-family: 'Montserrat', sans-serif;
	box-sizing: content-box;
}

html, body {
	font-size: 16px;
	min-height: 100%;
}

body {
	padding: 1em;
}

a {
	color: tomato;
	font-size: 0.8rem;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}	
}