table {
	
	border-collapse: collapse;
	margin: 1rem;
	width: auto;
	
	display: flex;
	
	tr {
		
		background-color: #EDEDED;
		transition: .4s;
		
		&:nth-child(even) {
			background-color: #F5F5F5;
		}
		
		th {
			
			padding: 1em;
			
		}
		
		td {
			
			padding: 0.4em 1em;
			max-width: 100px;
		
			overflow: hidden;
			text-overflow: ellipsis;
			white-space:  nowrap;
			
			vertical-align: top;
			
			&:hover {
				white-space: normal;
			}
			
			a {
				color: brown;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
			
		}
		
		&:hover {
			background-color: brown;
			td {
				color: white;
				a {
					color: white;
				}
			}	
		}
	}
}